[submodule "dependencies/humanoid-bench"]
	path = dependencies/humanoid-bench
	url = https://github.com/carlosferrazza/humanoid-bench
[submodule "dependencies/dr-q"]
	path = dependencies/dr-q
	url = https://github.com/dmksjfl/DR.Q
[submodule "dependencies/drqv2"]
	path = dependencies/drqv2
	url = https://github.com/facebookresearch/drqv2
